body {
    font-family: Arial, sans-serif;
    background-color: #fff5ee;
    color: #333;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #deb887;
}

img {
    width: 100%;
    position: absolute;
    left:0%;
}

button {
    padding: 3% 4%;
    background: transparent;
    border: none !important;
    position: absolute;
    left: 42%;
    top: 75%;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

